<div>
  <md-card ng-repeat="newsitem in sitedata.news | orderBy:'timestamp':true">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline" ng-bind="newsitem.title"></span>
        <span class="md-subhead" ng-bind="newsitem.date"></span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <p ng-repeat="paragraph in newsitem.paragraphs"
         ng-bind-html="getSafeHtml(paragraph)"
         style="text-align:justify;text-justify:inter-word;font-size:14px;">
      </p>
    </md-card-content>
  </md-card>
</div>