<div layout="row" layout-align="center top" layout-wrap>
  <div flex-xs flex-gt-xs="60">
    <md-card ng-repeat="newsitem in sitedata.news | orderBy:'timestamp':true">
      <md-card-title>
        <md-card-title-text>
          <span class="md-subhead" ng-bind="newsitem.date"></span>
          <span class="md-headline" ng-bind="newsitem.title" style="font-size:18px;"></span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p ng-repeat="paragraph in newsitem.paragraphs"
           ng-bind-html="getSafeHtml(paragraph)"
           style="text-align:justify;text-justify:inter-word;font-size:14px;">
        </p>
      </md-card-content>
    </md-card>
  </div>
</div>