<div class="toppage people" layout-xs="column" layout="row" layout-align="center top" layout-wrap layout-margin>
  <div flex="100">
    <a ui-sref='people'>back to all people</a>
  </div>
  <div flex="100" flex-gt-sm="75">
    <div class="padded" md-whiteframe="10" flex="100" layout-padding>
      <div class="md-headline">Nicholas Gauthier {{params.personId}}</div>
      <div class="md-subhead">Staff Scientist</div>
      <p style="text-align:justify;text-justify:inter-word;font-size:14px;">
        Nick’s background is in computer science and computational
        biology. During his graduate work in cancer biology at Memorial
        Sloan Kettering Cancer Center, he became fascinated by how
        “normal" cells in the tumor microenvironment influence cancer
        development, maintenance, and progression. To address
        limitations in existing methods for studying
        tumor-microenvironment interactions, he developed a proteomic
        method called CTAP for identifying and linking thousands of
        proteins to their cellular source in heterogeneous cell culture
        using mass spectrometry. During his postdoc, Nick developed a
        web resource for visualizing and analyzing recurrent mutation
        hotspots in protein domains in cancer (mutationaligner.org) and
        also spearheaded technology development for evolutionary
        constraint determination. At the cBio Center at DFCI, Nick is
        leading an experimental lab focused on method development for
        evolution-selection experiments and evaluating combination
        therapies for overcoming cancer drug resistance.</p>
    </div>
  </div>
</div>