<div class="toppage research" 
     layout="row" 
     layout-xs="column"
     layout-align="center top" 
     layout-wrap 
     layout-margin>

  <div flex-xs flex-gt-sm="45">
    <h2>Predictive network models</h2>
    <p style="text-align:justify;text-justify:inter-word;">
      In a wet and dry lab, and in collaborations, we are developing
      systems biology methods that combine systematic perturbation
      experiments with rich observational readout, for the <i>de
        novo</i> derivation of predictive and quantitative models. We aim to
      model cellular signaling events, e.g., between proteins, nucleic
      acids and metabolites, and cell-cell interactions in cell culture
      or cancer tissues. To solve the computational complexity of
      systematic model discovery we adapt methods from statistical
      physics and data sciences. The translational impact of this
      technology is in the nomination of combination therapeutics in
      cancer, such as melanoma, prostate cancer and pancreatic cancer.
      The cell biological impact depends on the availability of rich
      perturbation data with rich readout, with dual Crispr screens
      followed by mass spectrometry an attractive next technological
      advance - and using other datasets from the HMS community may be
      an exciting opportunity.
    </p>
  </div>
  
  <div flex-xs flex-gt-sm="45">
    <h2>Cancer precision medicine</h2>
    <p style="text-align:justify;text-justify:inter-word;">
      Bioinformatics took on a crucial analytical and
      infrastructure role in the national and international cancer
      genome atlas projects. Collaborating closely with clinical
      researchers, we are applying bioinformatics analysis to cancer
      genomics, for individual cancer types and across the board. For
      example, pan-cancer oncogenic signature analysis of about 10K
      tumor samples provides an estimate as to which groups of cancer
      patients can be nominated for particular trials based on shared
      occurrence of genomic alterations. Collaboration with clinicians
      for the design of ‘basket' and ‘match' trials would be attractive.
    </p>
  </div>

  <div flex-xs flex-gt-sm="45">
    <h2>Structural and evolutionary biology</h2>
    <p style="text-align: justify; text-justify: inter-word;">In
      collaboration with the Marks group ins systems biology at HMS, we
      are interested in strengthening the application of maximum entropy
      methods, with improved inference algorithms, to problems of
      evolutionary biology, structural biology and cell biology. The
      derivation of interactions that explain the observed correlations
      in data is key and there is significant potential for inferring
      interactions in diverse biological systems beyond proteins and
      RNA. We would like to generate evolutionarily constrained
      sequences in the laboratory and further develop a quantitative
      theory relating biopolymer sequences to phenotypic consequences.</p>
  </div>

  <div flex-xs flex-gt-sm="45">
    <h2>General goals and style of science</h2>
    <p style="text-align: justify; text-justify: inter-word;">We
      tend to focus on problems that have a chance of impacting the real
      world, such as human health, global future, synthetic biology, and
      engineering. We are guided by three principles : focus on the
      common goal of scientific progress, build and practice supportive
      and constructive human relations, and help with everyone’s career
      goals. Within the community, we also aim to promote creative ways
      of communicating scientific results and to help reform the
      counterproductive journal publication system.</p>
  </div>

</div>