<div class="toppage research" 
     layout="row" 
     layout-xs="column"
     layout-align="center top" 
     layout-wrap 
     layout-margin>

  <div flex-xs flex-gt-sm="45" ng-repeat="topic in sitedata.research.overviewtopics">
    <div layout="column" layout-align="center center">
      <img ng-src="/images/research/{{topic.image}}" alt="Description" ng-if="topic.image" width="80%"/>
      <h2 ng-bind="topic.title"></h2>
      <p style="text-align:justify;text-justify:inter-word;" ng-bind="topic.description"></p>
    </div>
  </div>
  
  <div flex="100" layout-align="center center" style="text-align:center">
      For an updated list of SanderLab publications, please see google scholar 
      <a href="https://scholar.google.com/citations?user=4R7_wW8AAAAJ&hl=en">here</a>.
  </div>

</div>