<div class="toppage contact" layout="column" layout-gt-sm="row" layout-align="center top" layout-padding layout-wrap>

  <!-- contact info -->
  <!-- scientific contact info -->
  <div flex="100" flex-gt-xs="50" layout="column" layout-align="center center"> 
    <div class="md-headline" ng-bind="sitedata.contact.scientific_contact.name"></div>
    <div class="md-subhead">Principal Investigator</div>
    <div class="md-subhead">
      <a ng-href="mailto:{{reverseEmail(sitedata.contact.scientific_contact.email_reversed)}}">
        <span ng-bind="reverseEmail(sitedata.contact.scientific_contact.email_reversed)"></span>
      </a>
    </div>
    <div class="md-subhead" ng-bind="sitedata.contact.scientific_contact.phone"></div>
  </div>

  <!-- administrative contact info -->
  <div flex="100" flex-gt-xs="50" layout="column" layout-align="center center"> 
    <div class="md-headline" ng-bind="sitedata.contact.administrative_contact.name"></div>
    <div class="md-subhead">Administrator</div>
    <div class="md-subhead">
      <a ng-href="mailto:{{reverseEmail(sitedata.contact.administrative_contact.email_reversed)}}">
        <span ng-bind="reverseEmail(sitedata.contact.administrative_contact.email_reversed)"></span>
      </a>
    </div>
    <div class="md-subhead" ng-bind="sitedata.contact.administrative_contact.phone"></div>
  </div>
  
  <!-- other contact info
  <div flex="100" flex-gt-xs="30" layout="column" layout-align="center center"> 
    <div class="md-headline" ng-bind="sitedata.contact.other_contact.name"></div>
    <div class="md-subhead">Scientific Research Director, cBio Center</div>
    <div class="md-subhead">
      <a ng-href="mailto:{{reverseEmail(sitedata.contact.other_contact.email_reversed)}}">
        <span ng-bind="reverseEmail(sitedata.contact.other_contact.email_reversed)"></span>
      </a>
    </div>
    <div class="md-subhead" ng-bind="sitedata.contact.other_contact.phone"></div>
  </div> -->
  
  <!-- a break -->
  <div flex="100">&nbsp;</div>
  
  <!-- addresses -->
  <div flex="20" show-gt-xs></div>
  <div flex="100" flex-gt-xs="60" layout="column" layout-align="center center"> 
    <div class="md-headline">Mailing addresses</div>
    <div layout="column" layout-gt-xs="row" layout-margin>
      <div flex="100" ng-repeat="address in sitedata.contact.mailing_addresses">
        <div class="md-subhead" ng-repeat="line in address" ng-bind="line"></div>
      </div>
    </div>
  </div>
  <div flex="20" hide show-gt-xs></div>
  
   
  <!-- google map of our hangout -->
  <div flex="25" hide show-gt-xs></div>
  <div flex-xs="100" flex-gt-xs="50">
    <p ng-bind="sitedata.contact.map_text"></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2949.1653827268806!2d-71.11021334907502!3d42.338997244322115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3798d991c49a1%3A0x7ab9283852b4cd9f!2s360+Longwood+Ave%2C+Boston%2C+MA+02215!5e0!3m2!1sen!2sus!4v1480519897757" 
            width="100%" height="450" frameborder="0" allowfullscreen></iframe>
  </div>
  <div flex="25" hide show-gt-xs></div>
</div>
