<div class="toppage home">
  <div layout="column" layout-gt-sm="row" layout-padding layout-align="center start">
  
    <div flex-xs="100" class="index_image_holder">
      <img ng-src="{{sitedata.homepage.image}}"/>
      <p ng-bind-html="getSafeHtml(sitedata.homepage.image_caption)"></p>
    </div>
    
    <div flex-xs="100">
      <div ng-bind-html="getSafeHtml(sitedata.homepage.intro_paragraph)"
           class="intro_paragraph">
      </div>
      <div>
        <h3>News</h3>
        <ul>
          <li ng-repeat="newsitem in sitedata.news | orderBy:'timestamp':true | limitTo:6">
            <strong ng-bind="newsitem.date"></strong>:
            <span ng-bind="newsitem.title"></span>
          </li>
          <li>
           <strong>...</strong> more news items are available <a ui-sref="news">here</a>.
          </li>
        </ul>
      </div>
    </div>
    
  </div>
</div>
